.impact{
    font-family:Impact;
    display: inline
 }
.funny{
    border-color: slategray;
    border-style: dotted;
    margin-right: 1050px

    
}
.smaller-size{
    height:200px ;
    width:200px ;
    
}
.smallest{
    height:50px ;
    width: 50px;
}
#cloud{
    background-color: grey
}
#sun{
    background-color: rgb(245, 245, 146)
}