.impact{
    font-family:Impact;
 }
.funny{
    border-color: slategray;
    border-style: dotted;
    margin-right: 1050px

    
}
.smaller-size{
    height:200px ;
    width:200px ;
    
}
.smallest{
    height:50px ;
    width: 50px;
    
    